@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

:root {
  --pink: hsl(322, 100%, 66%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --white: #ffffff;
  --font-poppins: "Poppins";
  --font-opensans: "Open Sans";
  --font-montserrat: "Montserrat";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

.content-1 {
  background: url("../images/bg-hero-desktop.svg") no-repeat;
  background-size: cover;
  background-color: var(--pale-cyan);
}

.btn-primary {
  font-family: var(--font-poppins);
  color: var(--dark-cyan);
  padding: 0.75em 4em;
  font-weight: 600;
  background-color: var(--white);
  border-radius: 3rem;
  border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: var(--grayish-blue);
  -webkit-box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.07);
  background-color: var(--white);
}

main {
  padding-bottom: 4.5rem;
}

h1 {
  color: var(--dark-cyan);
  font-weight: 600;
  font-family: var(--font-poppins);
  font-size: 2.5rem;
  line-height: 1.5;
}

h2 {
  color: var(--dark-cyan);
  font-weight: 400;
  font-family: var(--font-opensans);
  font-size: 1.25rem;
  line-height: 1.4;
}

.btn-secondary {
  color: var(--white);
  background-color: var(--pink);
  font-family: var(--font-opensans);
  padding: 1.15em 5em;
  border-radius: 3rem;
  font-weight: 600;
  border: none;
  font-size: 1rem;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: var(--pink);
  opacity: 0.6;
  -webkit-box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.07);
}

.cards {
  margin-top: 9rem;
}

.card {
  padding: 4rem 0 4rem 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 8rem;
  border: none;
  -webkit-box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.07);
  border-radius: 1rem;
}

.card__title {
  color: var(--dark-cyan);
  font-family: var(--font-poppins);
  font-size: 2.25rem;
}

.card__subtitle {
  color: var(--grayish-blue);
  font-family: var(--font-opensans);
  font-size: 1.075rem;
  font-weight: 400;
  line-height: 1.5;
}

.card__image {
  width: 95%;
}

.community-card {
  -webkit-box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.07);
  padding: 3.5em 2em 3em;
  width: 55%;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top: 8rem; */
  /* transform: translateY(30%); */
  /* top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999; */
  /* z-index: 99; */
}

.community-card .btn-secondary {
  -webkit-box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.07);
}

h6 {
  color: var(--dark-cyan);
  font-family: var(--font-poppins);
  font-size: 1.75rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  background-color: var(--dark-cyan);
  color: var(--pale-cyan);
  padding: 15rem 0 2rem;
  /* z-index: -1; */
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer a {
  color: var(--pale-cyan);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.contact li {
  border: 1px solid var(--pale-cyan);
  border-radius: 50%;
}

.fa-facebook-f {
  padding: 1em 0.75em;
}

.fa-twitter,
.fa-instagram {
  padding: 1em 0.6em;
}

.contact li:hover,
.contact i:hover {
  cursor: pointer;
  border-color: var(--pink);
  color: var(--pink);
}
