@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
  @apply text-darkBlue font-bold lg:text-4xl md:text-3xl md:leading-normal lg:leading-normal;
}

.subheading {
  @apply text-darkBlue font-open lg:text-[1.085rem] md:text-base lg:leading-normal;
}

.card {
  @apply bg-white;
  max-width: 30rem;
}

.btn {
  @apply bg-brightBlue text-white rounded-sm font-bold shadow-sm hover:opacity-70;
}

footer a:hover {
  color: hsl(238, 22%, 44%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
